.pcm-password-strength .pcm-validation-meter-wrapper {
    width: 100%;
    height: 22px;
    border:1px solid black;
}

.pcm-password-strength .pcm-validation-meter-wrapper .pcm-validation-meter-progress {
    height: 20px;
    background-color: #FF0000;
    transition: width 2s;
}

.pcm-password-strength .pcm-validation-meter-wrapper .pcm-validation-meter-progress.very-weak {
    height: 20px;
    background-color: #FF0000;
    transition: width 2s;
}

.pcm-password-strength .pcm-validation-meter-wrapper .pcm-validation-meter-progress.weak {
    height: 20px;
    background-color: #FF0000;
    transition: width 2s;
}

.pcm-password-strength .pcm-validation-meter-wrapper .pcm-validation-meter-progress.good {
    height: 20px;
    background-color:lightgreen;
    transition: width 2s;
}

.pcm-password-strength .pcm-validation-meter-wrapper .pcm-validation-meter-progress.strong {
    height: 20px;
    background-color:lightgreen;
    transition: width 2s;
}

.pcm-password-strength .pcm-validation-meter-wrapper .pcm-validation-meter-progress.very-strong {
    height: 20px;
    background-color:green;
    transition: width 2s;
}